.font-weight-bold
{
    font-weight: 600 !important;
}

.cardContact
{
    background-color: #E9ECEF;
    border-radius: .25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #e9ecef;
}

.validation
{
    margin-right: 2%;
}

.containerSeparation
{
    text-align: center;
}

.containerText
{
    margin: 0.5rem;
}

.separationCard
{
    color: black;
    text-align: center;
    width: 75%;
}